html(lang="en")
    head  
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel='stylesheet', href='style.css')>
        <title> Marin Emilov Traiteur</title>

.container-fluid.text-center.bg-danger
  h1 Bonjour Chef Bienvenue sur section administrateur 
  a.btn(href='/index')
    button page d'accueil


.card 
  .card-body   
    form(action='/admin/ajouter-un-plat' enctype='multipart/form-data' method='POST')
      .form-group 
        label(for="name") Titre plat
        input(type='text' name='titre' id=" titre" placeholder='titre de plat').form-control
        br
        label(for="prix") Prix plat
        input(type='text' name='prix' placeholder='prix de plat en $').form-control
        br
        .form-group
          label(for='description') Description de plat:
          textarea.form-control#comment(rows='5' name='texte' required)
          br
          div
            div
              input#vg(type='radio' name='option' value='vg')
              label(for='option vg') Option Vg
            div
              input#active(type='checkbox' name='active' value='active')
              label(for='active') active
            input(type='file' name='pic' accept='image/*')
          br
          button.btn.btn-primary(type='submit') Submit
          | 
    .jumbotron= message

