
<label for="prix">Prix : 10 $/portion</label><br>
<label for="quantity">Portion :</label>
<input list ="quantitys" name="quantity" required id="quantity">
<datalist id="quantitys">
    <option value="individuelle">
    <option value="pour deux ">
    <option value="familiale/4 portion">
</datalist>
<br>
<input type="submit">    




//- </div>
//-     <form action="/reservation_client", method="POST" class="text-light">
//-         <label for="date">Date et Heure:</label><br>
//-         <input type="date" name="date" required>
//-         <input type="time" name="time" required >
//-         <br/><br/>
//-         <label for="Name">Coordonnées:</label><br>

//-         <input type="text" name="nom" placeholder="Nom" required >
//-         <input type="text" name="prenom" placeholder="Prenom" required><br><br>
//-         <label for="email">Contacte:</label><br>
//-         <input type="email" name="email" placeholder="Courriel" required >
//-         <input type="tel" name="telephone" placeholder="Numéro de téléphone" required>
//-         <br/><br/>
//-         <label for="quantity">Personne(s):</label>
//-         <input type="number" name="numbre" Nombre de personnes min="1" max="50" required>
//-         <br/>
//-         <input type="radio" name=Reservatio required>Salle à manger
//-         <br/>
//-         <input type="radio" name=Reservatio required>Salon privé 
//-         <br/><br/>
//-         <input  class="bg-warning" type="submit" name="reserver" value="Réserver" onclick="alert('s\'il vous plaît confirmer votre réservation')">
//-     </form>
//-     </div>