html(lang="en")
    head  
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel='stylesheet', href='style.css')>
        <title> Marin Emilov Traiteur</title>
        
<div class="jumbotron text-center " id="name">Marin Emilov Traiteur
<span id="admin"><a href="/admin">admin -></a> </span>
</div>
<div class="container-fluid text-center  ">
<span  class="header-phone text-left ">
      <span >Contactez-nous:</span>
      <span><a href="tel:+15145555555" >514 555 5555</a></span><br/>
      <span >E-mail:</span>
      <span><a href="email: marin_emilov@yahoo.ca" >marin_emilov@traiteur.ca</a></span>
      <a href="/panier"><span id="loupe"><i class="fas fa-cart-arrow-down"> Votre Panier <span > 
      span=  message
      </span></i></span></a>
      
</span>
    
</div>
  <div class="container-fluid text-center bg-success ">
    <ul class="container">
    <li><a href="/index">Accueill</a></li>
    <li class="dropdown menu-item menu-a-propos"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Nos Menu <b class="caret"></b></a>
    <ul class="dropdown-menu">
      //- <li class=""><a href="/vg">Végtarien</a></li>
      <li class=""><a href="/menudejour">Menu de Jour</a></li>
      //- <li class=""><a href="/familiale">Familiales</a></li>
      //- <li class=""><a href="dejeuner">Déjeuners</a></li>
      //- <li class=""><a href="individuelle">Individuelles</a></li>
    </ul>
    </li>
      
      <li><a href="/emploi">Emplois</a></li>
      <li><a href="/histoire">Histoire</a></li>
      <li><a href="location">Location</a></li>
      
    </ul>
  </div>
    li= erreur
</div>
       
           
         