include header.pug

<title> Marin Traiteur</title>
<body>
 
      <div class="container-fluid text-center bg-success ">
        <ul class="container">
          <li><a href="#">Menu</a></li>
          <li><a href="#">Emplois</a></li>
          <li><a href="#">Histoire</a></li>
          <li><a href="#">Contact</a></li>
          <li><div id="loupe"><i class="fas fa-cart-arrow-down"></i></div></li>
        </ul>
      </div>
 


            




        
        