<div>
    <div class="container-fluid  text-center" id="pageacceuil" >  
    <div id="plat" class="container  text-center ">

            //- each item in image   
            //-     div= item.nameImage +" " + item.image 

            each item in Plat 
                div= item.namePlat +" " + item.description +" "+ item.prix        
    </div>
        <video class="container" autoplay muted playsinline loop width="1000px";>
            <source src="/images/video.mp4" ; type="video/mp4" >    
        </video>
        <div>
        </div>
    </div>
</div>
            