<div>

    <div class="container-fluid  text-center" id="pageacceuil" >
    //- <img src="/images/image4.jpg">
    <video class="container" autoplay muted playsinline loop width="1000px";>
    <source src="/images/video.mp4" ; type="video/mp4" >
    
    </video>
    <div>
        <div>
    </div>
    </div>
</div>