include header.pug
block content
    .jumbotron      
       h1.dysplay-4 Voici les produits dans votre panier 
    table.table.table-striped 
        thead 
        span= panier
            tr 
                th(scope="col") Nom
                th(scope="col") Image 
                th(scope="col") Prix
                th(scope="col") Bouton
    tbody
        each item in Panier
            tr  
                td= item.TitrePlat
                td= item.ImagePlat
                td= item.PrixPlat  

button(type="submit").btn.btn-outline-danger.btn-sm.mr-2 supprimer de la panier
button(type="submit").btn.btn-outline-dark.btn-sm passer la command


                    

                        
                        
