include header.pug

<div class="container">  
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-6 photo">
         <img src="/images/Vg1.jpg"  width="304" height="236">   
         <h1>Description</h1> 
         <p class="description">Tomate cerise avec bocconcini et micro pouce de tournesole, avec un vinegrette au miso et poivre pose<p> 
         include formecomande.pug  
         </div>   
        <div class="col-xl-4 col-md-4 col-sm-6 photo">
        <img src="/images/Vg2.jpg"   width="304" height="236">
        <h1>Description</h1>
        <p class="description">Tomate cerise avec bocconcini et micro pouce de tournesole, avec un vinegrette au miso et poivre pose<p> 
         include formecomande.pug 
        </div>
        <div class="col-xl-4 col-md-4 col-sm-6 photo">
        <img src="/images/Vg3.jpg"   width="304" height="236">
        <h1>Description</h1>
        <p class="description">Tomate cerise avec bocconcini et micro pouce de tournesole, avec un vinegrette au miso et poivre pose<p> 
         include formecomande.pug 
        </div>       
         
    </div>
</div>

    







//- <div class="container row ">
//-     <div class="col-4 text-justify platvg ">
//-         <img src="/images/Vg1.jpg" > 
//-         <div class="description">
//-         <h1>Description</h1>
//-         <p lass="description">Tomate cerise avec bocconcini et micro pouce de tournesole, avec un vinegrette au miso et poivre pose<p> 
//-     include formecomande.pug    
//-         </div>    
//-     </div>

    
    
//- </div>

