body {
  background-color: #f5eded88;
  margin: auto;
}
/* section menu */

ul {
  display: inline-flex;
  margin: 10px;
  padding-inline-start: initial;
}

li {
  list-style-type: none;
  color: rgba(10, 1, 1, 0.877);
  margin: 10px;
}

.fas {
  margin-right: 10px;
  margin-left: 850px;
}

a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: small;
  color: rgba(8, 1, 1, 0.657);
  text-decoration: none;
}

.container-fluid {
  margin-top: 10px;
}

#pageacceuil {
  /* background-image: url("images/image4.jpg"); */
  background-repeat: no-repeat;
  margin: auto;
  width: 80%;

  height: 100%;
}

#name {
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-image: url("images/image4.jpg ");
  background-repeat: no-repeat;
}

.photo{
  margin-top: 10px;
}

#admin{
  border: black solid 2px;
  float: right;
  text-decoration: none;
}

.forme-input{
  margin: 50px;
 
}

label{
  margin-top: 5px;
}




